.product-card{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column !important;
    height: 40vh;
    width: 15vw;
    margin: 2vh;
    background-color: white;
    border: 2px solid black;
    box-shadow: 8px 8px 0  black;
    margin-right: 2vw;
    border-radius: 2px;
    color: black;
}

.product-card button{
    align-self: center;
    padding: 1vw 3vw;
    font-size: large;
    font-family: 'Nunito', cursive;
    border: 2px solid black;
    box-shadow: 5px 5px 0  black;
    background-color: white;
    color: black;
}

.product-card button:hover{
    box-shadow: 
    2px 2px 0  violet,
    4px 4px 0  indigo,
    6px 6px 0  blue,
    8px 8px 0  green,
    10px 10px 0  yellow,
    12px 12px 0  orange,
    14px 14px 0  red;
}

.product-card svg{
    width: 12vw;
    height: 25vh;
    object-fit:cover;
    object-position:50% 50%; 
}

.product-card h1{
    font-family: 'Nunito', cursive;
    font-weight: lighter;
}

.product-card:hover{
    box-shadow: 
    2px 2px 0  violet,
    4px 4px 0  indigo,
    6px 6px 0  blue,
    8px 8px 0  green,
    10px 10px 0  yellow,
    12px 12px 0  orange,
    14px 14px 0  red;
}

.product-card p{
    text-align: center;
    margin: 20px;
    font-size: 2.5vh;
    font-family: 'Nunito', cursive;

}